<label class="mm-language-switcher">
  <span class="visually-hidden">{{ 'LANGUAGE.SWITCH' | translate }}</span>
  <select
    class="form-select form-select-sm"
    [ngModel]="currentLanguage()"
    (ngModelChange)="onLanguageChange($event)"
    aria-label="{{ 'AUTO.SHARED.LANGUAGE_SWITCHER.LANGUAGE_SWITCHER.LANGUAGE_SWITCHER' | translate }}"
  >
    <option *ngFor="let language of languages" [ngValue]="language">
      {{ ('LANGUAGE.' + language.toUpperCase()) | translate }}
    </option>
  </select>
</label>
