<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>

<h2>Connexion</h2>

<div th:if = "${param.error}">
    <p style="color:red">Mot de passe ou courriel invalide </p>
</div>

<form method="POST" th:action = "@{/login}">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <div>
        <label>Email :</label>
        <input type="text" name="username" required>
    </div>

    <div>
        <label>Mot de passe :</label>
        <input type="password" name="password" required>
    </div>

    <div>
        <button type="submit">Se connecter</button>
    </div>

</form>

</body>
</html>
