11<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription — CRM Manara</title>
</head>

<body>

<header>
    <h1>Créer un compte</h1>
    <p>Inscrivez-vous pour accéder au portail CRM Manara.</p>
</header>

<hr>

<section>
    <div th:if = "${message}">
        <p style="color: greenyellow" th:text = "${message}"></p>
    </div>
    <form th:action ="@{/signUp}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <h2>Informations du parent</h2>

        <label>Nom :</label><br>
        <input type="text" name="nom" required><br><br>

        <label>Prénom :</label><br>
        <input type="text" name="prenom" required><br><br>



        <h2>Informations de connexion</h2>

        <label> Email :</label><br>
        <input type="email" name="email" required><br><br>

        <label>Mot de passe :</label><br>
        <input type="password" name="password" required><br><br>


        <h2>Adresse</h2>

        <label>Adresse :</label><br>
        <input type="text" name="adresse"><br><br>


        <button type="submit">Créer mon compte</button>

    </form>
</section>

<hr>

<section>
    <p>Déjà un compte ?</p>
    <a href="/login">Se connecter</a>
</section>

<footer>
    <p>Centre Manara — CRM</p>
</footer>

</body>
</html>
